.container {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

.listView {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;

    img {
        height: 60%;
        width: 60%;
        cursor: pointer;
    }

    .countryName {
        width: 100%;
        color: white;
        background-color: rgb(28, 4, 4);
        text-align: center;
        font-size: 1.25em;
    }
}

.closeBtn {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.closeBtn:hover {
    background-color: #0056b3;
}