.title {
    width: 100%;
    font-size: 2em;
    text-align: center;
    background-color: rgb(186, 56, 8);
    color: white;
}

.filter {
    width: 100%;
}

.container {
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 1vh;
    margin: 1vmin;
}

.listView {
    width: 25%;
    /* Display 4 listView items per row by default */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listView img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.listView .countryName {
    width: 100%;
    color: white;
    background-color: rgb(28, 4, 4);
    text-align: center;
    font-size: 1.25em;
}

.closeBtn {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.closeBtn:hover {
    background-color: #0056b3;
}

/* Media query for tablet */
@media screen and (max-width: 1024px) {
    .listView {
        width: 33.33%;
        /* Display 3 listView items per row */
    }
}

/* Media query for mobile */
@media screen and (max-width: 600px) {
    .listView {
        width: 50%;
        /* Display 2 listView items per row */
    }
}